In [9]:
import pandas as pd
returns = pd.read_csv("Portfolios_Formed_on_ME_monthly_EW.csv", header=0, index_col=0, parse_dates=True,na_values=-99.99)

In [10]:
returns.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [16]:
returns.index=pd.to_datetime(returns.index, format="%Y%m")
returns=returns[["Hi 20", "Lo 20"]]
returns=returns/100
returns.head()

             Hi 20   Lo 20
1926-07-01  0.0333 -0.0057
1926-08-01  0.0233  0.0384
1926-09-01 -0.0009 -0.0048
1926-10-01 -0.0295 -0.0329
1926-11-01  0.0316 -0.0055

In [22]:
(returns["Lo 20"]+1).prod()**(12/returns.shape[0])-1

0.15197701163833743

In [25]:
returns["Lo 20"].std()*(12**0.5)

0.33670127517157755

In [26]:
(returns["Hi 20"]+1).prod()**(12/returns.shape[0])-1

0.09849020951253151

In [27]:
returns["Hi 20"].std()*(12**0.5)

0.19511604155631315

In [29]:
(returns["Lo 20"]["1999":"2016"]+1).prod()**(12/returns.shape[0])-1

0.02187360774166991

In [30]:
returns["Lo 20"]["1999":"2016"].std()*(12**0.5)

0.22665093825959212

In [31]:
(returns["Hi 20"]["1999":"2016"]+1).prod()**(12/returns.shape[0])-1

0.012658886575287465

In [32]:
returns["Hi 20"]["1999":"2016"].std()*(12**0.5)

0.16992195186643247

In [74]:
def drawdown(returns):
    wealthGrowth = 100*(1+returns).cumprod()
    maxReturn=wealthGrowth.cummax()
    drawdown=(wealthGrowth-maxReturn)/maxReturn
    return drawdown

In [79]:
drawdown(returns)["Lo 20"]["1999":"2016"].min()

-0.6248092431236987

In [75]:
drawdown(returns)["Lo 20"]["1999":"2016"].idxmin()

Timestamp('2009-02-01 00:00:00')

In [78]:
drawdown(returns)["Hi 20"]["1999":"2016"].min()

-0.5527349978713652

In [80]:
drawdown(returns)["Hi 20"]["1999":"2016"].idxmin()

Timestamp('2009-02-01 00:00:00')

In [81]:
hedgeFunds = pd.read_csv("edhec-hedgefundindices.csv", header=0, index_col=0, parse_dates=True,na_values=-99.99)
hedgeFunds

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01-31,1.19,3.93,1.78,7.91,1.89,2.13,1.91,5.73,2.81,1.50,1.80,-1.66,3.17
1997-02-28,1.23,2.98,1.22,5.25,1.01,0.84,1.22,1.75,-0.06,0.34,1.18,4.26,1.06
1997-03-31,0.78,-0.21,-0.12,-1.20,0.16,-0.23,1.09,-1.19,-0.84,0.60,0.10,7.78,-0.77
1997-04-30,0.86,-1.70,0.30,1.19,1.19,-0.05,1.30,1.72,0.84,-0.01,1.22,-1.29,0.09
1997-05-31,1.56,-0.15,2.33,3.15,1.89,3.46,1.18,1.08,3.94,1.97,1.73,-7.37,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.21,-0.58,0.93,0.40,-0.10,0.55,0.22,-0.14,0.67,-0.21,0.45,-0.52,0.18
2018-08-31,0.24,1.66,0.02,-2.77,0.04,0.11,0.17,-0.07,0.35,0.50,-0.02,-2.14,0.15
2018-09-30,0.34,-0.54,0.50,-1.10,-0.16,0.32,0.36,0.06,-0.23,0.28,0.18,0.36,-0.22
2018-10-31,-0.73,-3.14,-1.58,-3.15,-1.29,-2.57,-0.23,-0.96,-4.02,-0.80,-1.09,2.37,-2.69
2018-11-30,-0.68,-0.53,-1.93,1.20,-2.11,-0.34,-0.67,-0.87,-0.44,1.19,-0.63,-0.21,-0.71

In [83]:
hedgeFunds.std(ddof=0)

Convertible Arbitrage     1.653593
CTA Global                2.329015
Distressed Securities     1.700922
Emerging Markets          3.247559
Equity Market Neutral     0.811480
Event Driven              1.671168
Fixed Income Arbitrage    1.151700
Global Macro              1.469404
Long/Short Equity         1.989693
Merger Arbitrage          0.960047
Relative Value            1.146198
Short Selling             4.765495
Funds Of Funds            1.553616
dtype: float64

In [88]:
hedgeFunds["2009":"2019"][hedgeFunds<0].std(ddof=0).sort_values()

Fixed Income Arbitrage    0.332054
Merger Arbitrage          0.361121
Global Macro              0.507508
Equity Market Neutral     0.518610
Relative Value            0.571123
Convertible Arbitrage     0.668103
Funds Of Funds            0.794842
Distressed Securities     0.949845
Event Driven              1.013464
CTA Global                1.099578
Long/Short Equity         1.213857
Emerging Markets          1.527598
Short Selling             2.124006
dtype: float64

In [89]:
hedgeFunds["2009":][hedgeFunds<0].std(ddof=0).sort_values()

Fixed Income Arbitrage    0.332054
Merger Arbitrage          0.361121
Global Macro              0.507508
Equity Market Neutral     0.518610
Relative Value            0.571123
Convertible Arbitrage     0.668103
Funds Of Funds            0.794842
Distressed Securities     0.949845
Event Driven              1.013464
CTA Global                1.099578
Long/Short Equity         1.213857
Emerging Markets          1.527598
Short Selling             2.124006
dtype: float64

In [90]:
import scipy.stats
scipy.stats.skew(hedgeFunds["2009":])

array([ 1.30591093,  0.05206195, -0.25494434,  0.03312287, -0.89632731,
       -0.48882095,  1.12145348,  0.34818394, -0.46370341, -0.55106451,
        0.15995286,  0.45651822, -0.64690778])

In [97]:
def scipySkew(r):
    if(isinstance(r, pd.DataFrame)):
        return r.aggregate(scipySkew)
    elif(isinstance(r, pd.Series)):
        return scipy.stats.skew(r)

In [100]:
scipySkew(hedgeFunds["2009":]).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [101]:
def scipyKurtosis(r):
    if(isinstance(r, pd.DataFrame)):
        return r.aggregate(scipyKurtosis)
    elif(isinstance(r, pd.Series)):
        return scipy.stats.kurtosis(r)

In [103]:
scipyKurtosis(hedgeFunds["2000":"2019"]).sort_values()

CTA Global                -0.154978
Global Macro               0.653278
Short Selling              1.352758
Long/Short Equity          1.472589
Merger Arbitrage           1.520785
Event Driven               2.543444
Emerging Markets           2.941289
Distressed Securities      3.231720
Funds Of Funds             4.584725
Relative Value             9.731096
Equity Market Neutral     17.329621
Convertible Arbitrage     20.001449
Fixed Income Arbitrage    30.378729
dtype: float64